<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .info{
            color:purple;
        }
    </style>

</head>
<body>
    <h1 align = "center"><u>Logout Page</u></h1><br><br>
    <a href="{% url 'base' %}"><button>Back To Home</button></a>

    {% if messages %}
    {% for message in messages %}
    <span {% if message.tags %}class="{{message.tags}}"{% endif %}> <b>{{message|capfirst}}</b> </span>
    {% endfor %}
    {% endif %}
</body>
</html>